@media (min-width: 880px) {
    header {
        justify-content: initial;
    }
    .navbar-layout {
        padding: 16px 32px;
        justify-content: space-between;
        height: 76px;
    }
    .Navbar-module__pSp8Ga__logoFull {
        display: none;
    }
    .Navbar-module__pSp8Ga__logo {
        display: block;
        width: 24px;
        height: 24px;
    }
    .nav-menu {
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;
        font-family: inter, "Inter Fallback", sans-serif;
        color: rgb(156, 156, 157);
        cursor: pointer;
    }
    .item-navmenu {
        padding: 12px 8px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.2px;
        transition: all .2s ease-in-out;
        white-space: nowrap;
    }
    }
    .loginbox {
        display: flex;
        color: #2f3031;
        background-color: #e6e6e6;
        box-shadow: 0 0 0 2px #00000080, 0 0 14px #ffffff30, inset 0 -1px .4px #0003, inset 0 1px .4px #fff;
        height: 36px;
        padding: 8px 12px;
        white-space: nowrap;
        border-radius: 8px;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        width: 66px;
    }
    .forconnect {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 4px;
    }
}
