@font-face {
    font-family: Inter;
    src: url(font/Inter-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: "Inter Black";
    src: url(font/Inter-Black.ttf);
}
@font-face {
    font-family: "Inter Bold";
    src: url(font/Inter-Bold.ttf);
}
@font-face {
    font-family: "Inter ExtraBold";
    src: url(font/Inter-ExtraBold.ttf);
}
@font-face {
    font-family: "Inter ExtraLight";
    src: url(font/Inter-ExtraLight.ttf);
}
@font-face {
    font-family: "Inter light";
    src: url(font/Inter-Light.ttf);
}
@font-face {
    font-family: "Inter Meduim";
    src: url(font/Inter-Medium.ttf);
}
@font-face {
    font-family: "Inter Regular";
    src: url(font/Inter-Regular.ttf);
}
@font-face {
    font-family: "Inter SemiBold";
    src: url(font/Inter-SemiBold.ttf);
}
@font-face {
    font-family: "Inter Thin" ;
    src: url(font/Inter-Thin.ttf);
}

body {
    overflow-y: scroll;
    background-color: #07080a;
}

header {
    background: #07080a;
    height: 100px !important;
    flex-direction: column
}

header {
    position: relative;
    display: flex;
    width: 100%;
    padding: 16px 16px 0px 16px;
    justify-content: center;
    z-index: 2;
    left: 50%;
    transform: translate(-50%);
}

.navbar-layout {
    position: relative;
    display: flex;
    padding: 16px;
    width: 100%;
    max-width: 1204px;
    height: auto;
    backdrop-filter: blur(5px);
    border-radius: 16px;
    background: linear-gradient(137deg, #111214bf 4.87%, #0c0d0fe6 75.88%);
    border: 1px solid var(--Card-Border, #ffffff0f);
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 0 1px 1px #ffffff26;
    transition: height .3s, transform .3s;
}

.hammenu { 
    display: flex;
    align-items: center;
    width: 24px;
    height: 16px;
    flex-direction: column;
    line-height: 18.4px;
    gap: 5px;
}

.hammenu-line1,
.hammenu-line2,
.hammenu-line3 {
    transition: transform .5s, opacity .25s;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffffe6;
    width: 24px;
    height: 1px;
    cursor: pointer;
    top: 10%;
}

.Navbar-module__pSp8Ga__logoFull {
    width: 93px;
    height: 24px;
}

.Navbar-module__pSp8Ga__logo {
    display: none;
}

.nav-menu { 
    display: none;
}

.loginbox {
    display: none;
}