body {
    background: #07080a;
}

header {
    position: fixed;
    display: flex;
    width: 100%;
    padding: 16px 16px 0px 16px;
    justify-content: center;
    z-index: 2;
}

.navbar-layout {
    position: relative;
    display: flex;
    padding: 16px;
    width: 100%;
    max-width: 1204px;
    height: auto;
    backdrop-filter: blur(5px);
    border-radius: 16px;
    background: linear-gradient(137deg, #111214bf 4.87%, #0c0d0fe6 75.88%);
    border: 1.5px solid var(--Card-Border, #ffffff0f);
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 0 1px 1px #ffffff26;
    transition: height .3s, transform .3s;
}

.hammenu { 
    display: flex;
    align-items: center;
    width: 24px;
    height: 16px;
    flex-direction: column;
    line-height: 18.4px;
    gap: 5px;
}

.hammenu-line1,
.hammenu-line2,
.hammenu-line3 {
    transition: transform .5s, opacity .25s;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffffe6;
    width: 24px;
    height: 1px;
    cursor: pointer;
    top: 10%;
}

.navbar-layout img {
    width: 93px;
    height: 24px;
}